body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #ddebfb;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background: rgb(139, 129, 251);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 1000;
}


.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav a {
  margin-left: 24px;
  margin-right: 24px;
  text-decoration: none;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.project-cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.card {
  flex: 1;
  background-color: #d6d4fb;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card h4 {
  text-align: center;
  margin-bottom: 15px;
}

.card ul {
  padding-left: 18px;
}

.card li {
  margin-bottom: 8px;
}

.resume-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;   /* controls spacing */
  margin: 30px auto;  /* centers the whole block */
}

.resume-btn {
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}

/* View button */
.view-btn {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #333;
}

/* Download button */
.download-btn {
  background-color: #333;
  color: #ffffff;
}

.resume-btn:hover {
  opacity: 0.85;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 30px 0;
}

.social-links a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  color: #555;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}